<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247985629491-45bchthrbj8lac3h69m9oqtgr9magml9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247985629491-45bchthrbj8lac3h69m9oqtgr9magml9</string>
	<key>API_KEY</key>
	<string>AIzaSyA5ctdkxIW9M9EkhJEnT9vm32YRaUNQkWs</string>
	<key>GCM_SENDER_ID</key>
	<string>247985629491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weconnectPortal</string>
	<key>PROJECT_ID</key>
	<string>weconnect-f6cb7</string>
	<key>STORAGE_BUCKET</key>
	<string>weconnect-f6cb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247985629491:ios:f6747ffbe70bc01e2ab646</string>
</dict>
</plist>